/* supprimer les font dont je n'ai pas besoin */
@font-face {
     font-family: 'Helvetica';
     src: url('../fonts/HelveticaLTStd-Light.woff')
     url('../fonts/HelveticaLTStd-Light.woff2');
     font-weight: 300;
     font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaLTStd-Roman.woff')
       url('../fonts/HelveticaLTStd-Roman.woff2');
       font-weight: 400;
       font-style: normal;
}

@font-face {
     font-family: 'Helvetica';
     src: url('../fonts/HelveticaLTStd-Bold.woff')
          url('../fonts/HelveticaLTStd-Bold.woff2');
          font-weight: 500;
          font-style: normal;
   }


/* Garamond Premier Pro Regular

font-family: garamond-premier-pro, serif;

font-weight: 400;

font-style: normal;


Garamond Premier Pro Italic

font-family: garamond-premier-pro, serif;

font-weight: 400;

font-style: italic;


Garamond Premier Pro Bold
font-family: garamond-premier-pro, serif;
font-weight: 700;
font-style: normal;


Garamond Premier Pro Bold Italic
font-family: garamond-premier-pro, serif;
font-weight: 700;
font-style: italic;


Garamond Premier Pro Caption
font-family: garamond-premier-pro-caption, serif;
font-weight: 400;
font-style: normal;


Garamond Premier Pro Italic Caption
font-family: garamond-premier-pro-caption, serif;
font-weight: 400;
font-style: italic;


Garamond Premier Pro Bold Caption
font-family: garamond-premier-pro-caption, serif;
font-weight: 700;
font-style: normal;


Garamond Premier Pro Bold Italic Caption
font-family: garamond-premier-pro-caption, serif;
font-weight: 700;
font-style: italic;


Garamond Premier Pro Bold Display
font-family: garamond-premier-pro-display, serif
font-weight: 700
font-style: normal;


Garamond Premier Pro Bold Italic Displa
font-family: garamond-premier-pro-display, serif
font-weight: 700
font-style: italic;


Garamond Premier Pro Displa
font-family: garamond-premier-pro-display, serif;
font-weight: 400;
font-style: normal;


Garamond Premier Pro Italic Display
font-family: garamond-premier-pro-display, serif;
font-weight: 400;
font-style: italic;


Garamond Premier Pro Bold Subhead
font-family: garamond-premier-pro-subhead, serif;
font-weight: 700;
font-style: normal;


Garamond Premier Pro Bold Italic Subhead
font-family: garamond-premier-pro-subhead, serif;
font-weight: 700;
font-style: italic;


Garamond Premier Pro Italic Subhead
font-family: garamond-premier-pro-subhead, serif;
font-weight: 400;
font-style: italic;


Garamond Premier Pro Subhead
font-family: garamond-premier-pro-subhead, serif;
font-weight: 400;
font-style: normal;


 */