html {
  scroll-behavior: smooth;
  background: #ddd;
}

body {
  max-width: 380px;
  margin: auto;
  font-family: "real head pro", serif;
  background: #ffffff;
  font-size: 20px;
}

.site-header { 
  padding: 30px;
}

.site-header p {
  font-family: "louvette-display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

header {
  background-image: var(--gradient);
  background-size: 400%;
}

@keyframes animation {
  0% {background-position: left;
  }
  100% {background-position: right;
  }
}
nav {
  padding: 30px;
  text-align: center;
  font-size: 15px;
}
h1  {
  font-family: "louvette-display", serif;
  font-size: 42px;
}

h2 {
  font-family: "real head pro", serif;
  font-size: 15px;
}

.nav {
  border-radius: 45px;
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  font-size: 12px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #E6E6FA;
}

main {
  padding: 30px;
}

p {
  font-size: 18px;
  font-family: ff-real-headline-pro,sans-serif;
  font-weight: 100;
  font-style: normal;
}

table, tr, td{
  width: 100%;
  border: 1px solid;
  border-color: black;
  border-collapse: collapse;
  text-align: center;
}

.text-input-countainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.font-tester-regular {
  font-family: louvette-display,serif;
  font-weight: 400;
  font-style: normal;
}

.font-tester-italique {
  font-family: louvette-display, serif;
  font-weight: 400;
  font-style: italic;
}

.font-tester-seminbold {
  font-family: louvette-display, serif;
  font-weight: 500;
  font-style: normal;
}

.font-tester-bold {
  font-family: louvette-display, serif;
  font-weight: 600;
  font-style: normal;
}

.font-tester-ultra {
  font-family: louvette-display, serif;
  font-weight: 700;
  font-style: normal;
}

.footer-countainer {
  display: flex;
}


