/*
Auto Pro Light
font-family: auto-pro-new, sans-serif;
font-weight: 300;
font-style: normal;

Auto Pro Regular
font-family: auto-pro-new, sans-serif;
font-weight: 400;
font-style: normal;

Auto Pro Bold
font-family: auto-pro-new, sans-serif;
font-weight: 700;
font-style: normal;

Auto Pro Light Small Caps
font-family: auto-pro-small-caps, sans-serif;
font-weight: 300;
font-style: normal;

/*

/*
font-family: jeanne-moderno,serif;
font-weight: 400;
font-style: normal;

font-family: jeanne-moderno,serif;
font-weight: 400;
font-style: italic;

font-family: jeanne-moderno,serif;
font-weight: 700;
font-style: normal;

font-family: jeanne-moderno,serif;
font-weight: 700;
font-style: italic;

font-family: jeanne-moderno-geometrique,sans-serif;
font-weight: 600;
font-style: normal;

font-family: jeanne-moderno-titling,serif;
font-weight: 500;
font-style: normal;

font-family: jeanne-moderno-titling,serif;
font-weight: 500;
font-style: italic;

font-family: jeanne-moderno-ultra,serif;
font-weight: 800;
font-style: normal;

font-family: jeanne-moderno-ultra,serif;
font-weight: 800;
font-style: italic;
/*
