html {
  scroll-behavior: smooth;
  background: #ddd;
}

body {
  max-width: 380px;
  margin: auto;
  font-family: "real head pro", serif;
  background: #ffffff;
  font-size: 20px;
}

/*header {
  background-image: url("../img/background.png");
  padding: 50px;
} */

img {
  max-width: 100%;
  height:auto ;
}

.site-header p {
  font-family: "louvette-display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.visual-header {
  display: flex;
  font-size: 60px;
  flex-flow: column wrap;
  align-content: flex-start;
}

}
nav {
  padding: 30px;
  text-align: center;
  font-size: 15px;
}
h1  {
  font-family: "louvette-display", serif;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: "real head pro", serif;
  font-size: 15px;
  padding: 30px;
}

.nav {
  border-radius: 45px;
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  font-size: 12px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #E6E6FA;
}

/*main {
  padding: 30px;
}*/

p {
  font-size: 15px;
  font-family: "real headline pro",sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 30px;
  text-align: justify;
}

table, tr, td{
  width: 100%;
  border: 1px solid;
  border-color: black;
  border-collapse: collapse;
  text-align: center;
}

.text-input-countainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.font-tester-regular {
  font-family: louvette-display,serif;
  font-weight: 400;
  font-style: normal;
}

.font-tester-italique {
  font-family: louvette-display, serif;
  font-weight: 400;
  font-style: italic;
}

.font-tester-seminbold {
  font-family: louvette-display, serif;
  font-weight: 500;
  font-style: normal;
}

.font-tester-bold {
  font-family: louvette-display, serif;
  font-weight: 600;
  font-style: normal;
}

.font-tester-ultra {
  font-family: louvette-display, serif;
  font-weight: 700;
  font-style: normal;
}

.footer-countainer {
  display: flex;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #f0bed9, #f9c8c8, #f195bc, #ef7e93 );
  background-size: 400% 400%;
  position: relative;
  animation: change 5s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 80%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.main-background {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #97d6f6, #bbe2eb, #e3ddef, #edcce3 );
  background-size: 400% 400%;
  position: relative;
  animation: change 5s ease-in-out infinite;
}

hr {
  margin: 0 30px 0;
  height: 1px;
  border: none;
  background-color: #97d6f6;
}