@font-face {
  font-family:'Sriracha'; 
  src: url('../fonts/Sriracha-Regular.woff2') format('woff2'), 
       url('../fonts/Sriracha-Regular.woff') format('woff');
  font-weight: 400; 
  font-style: normal; 
  font-display: fallback; 
}

:root{
  --title-font: "jeanne-moderno",serif;
  --text-font: 'Sriracha', serif;
}
.adobe-font {
  font-family: var(--title-font);
}
