html {
  scroll-behavior: smooth;
  background: #ddd;
}

body {
  max-width: 380px;
  margin: auto;
  font-family: "real head pro", serif;
  background: #ffffff;
  font-size: 20px;
}

/*header {
  background-image: url("../img/background.png");
  padding: 50px;
} */


.site-header p {
  font-family: "louvette-display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h2 {
  display: flex;
  font-size: 60px;
  flex-flow: column wrap;
  align-content: flex-start;
  padding: 30px;
  text-align: left;
  font-family: "louvette-display", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 50px;
}

}

nav {
  padding: 30px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.2s ease;
}

h1  {
  font-family: "louvette-display", serif;
  font-size: 50px;
  text-align: center;
}

h3 {
  font-family: "real head pro", serif;
  font-size: 15px;
  padding: 30px;
}

.nav {
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  font-size: 12px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*main {
  padding: 30px;
}*/

p {
  font-size: 15px;
  font-family: "real headline pro",sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 30px;
  text-align: justify;
}

.caracter-countainer {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}
.caracter-countainer p {
  text-align: center;
}

.character-map-img {
  background-image: url("../img/glyphe.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-input-countainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 30px;
}

.font-tester-regular {
  font-family: louvette-display,serif;
  font-weight: 400;
  font-style: normal;
}

.font-tester-italique {
  font-family: louvette-display, serif;
  font-weight: 400;
  font-style: italic;
}

.font-tester-seminbold {
  font-family: louvette-display, serif;
  font-weight: 500;
  font-style: normal;
}

.font-tester-bold {
  font-family: louvette-display, serif;
  font-weight: 600;
  font-style: normal;
}

.font-tester-ultra {
  font-family: louvette-display, serif;
  font-weight: 700;
  font-style: normal;
}

.footer-countainer {
  display: flex;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #f0bed9, #f9c8c8, #f195bc, #ef7e93 );
  background-size: 400% 400%;
  position: relative;
  animation: change 5s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 80%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.main-background {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #97d6f6, #bbe2eb, #e3ddef, #edcce3 );
  background-size: 400% 400%;
  position: relative;
  animation: change 5s ease-in-out infinite;
}

hr {
  margin: 0 30px 0;
  height: 1px;
  border: none;
  background-color: #97d6f6;
}

.text {
  font-family: louvette-display,serif;
  font-size: 30px;
}
.regular {
  font-weight: 400;
  font-style: normal;
}
.italic {
  font-weight: 400;
  font-style: italic;
}
.semi-bold {
  font-weight: 500;
  font-style: normal;
}
.semi-bold-italic {
  font-weight: 500;
  font-style: italic;
}
.bold {
  font-weight: 600;
  font-style: normal;
}
.bold-italic {
  font-weight: 600;
  font-style: italic;
}
.black {
  font-weight: 700;
  font-style: normal;
}
.black-italic {
  font-weight: 700;
  font-style: italic;
}
.ultra {
  font-weight: 800;
  font-style: normal;
}

.ultra-italic {
  font-weight: 800;
  font-style: italic;
}

