* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'GT-Flexa';
  src: url(../fonts/GT-Flexa-Trial-VF.woff2);
}

:root {
  --font-main: 'GT-Flexa';
  --font-secondary: 'Open Sans', sans-serif;
  --color-main: #00FF99;
  --color-secondary: #fff;
  --color-third: #000;
}

html {
  scroll-behavior: smooth;
  background: var(--color-main);
}

body {
  max-width: 375px;
  margin: auto;
  box-shadow: var(--color-third) 0 0 10px;
}

p::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
strong::selection {
  background-color: var(--color-secondary);
  color: var(--color-third);
}

/* for the header */

header {
  padding: 5px;
  background: var(--color-secondary);
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: inset #000 2px;
  padding: 5px;
}

header h1 {
  font-family: var(--font-main);
  font-size: 45px;
  height: 50px;
}

.menu-burger {
  width: 16%;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

/* for the main */

main {
  background: var(--color-main);
  padding: 5px;
}

.section-briefing {
  background: var(--color-third);
  color: var(--color-main);
  padding: 29px;
  font-family: var(--font-main);
  margin: 0 0 5px;
}

.section-briefing h3 {
  margin: 40px 23px 50px;
  text-align: left;
  font-size: 40px;
}

.all-in {
  animation-name: all-variable;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: var(--color-third);
  font-size: 50px;
  padding: 12px;
  background: var(--color-main);
  margin-top: 5px;
}

@keyframes all-variable {
  0% {
    font-variation-settings: "wdth" 10, "wght" 100, "ital" 0;
  }
  
  50% {
    font-variation-settings: "wdth" 100, "wght" 800, "ital" 1;
  }

  100% {
    font-variation-settings: "wdth" 10, "wght" 100, "ital" 0;
  }
}

.card {
  background: var(--color-main);
  color: var(--color-third);
  padding: 13px;
  margin: 0 0 30px;
}

.top-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.card h4 {
  font-variation-settings: "wdth" 120, "wght" 600, "ital" 1;
  font-size: 10px;
}

.card h4 strong {
  font-variation-settings: "wdth" 120, "wght" 800, "ital" 0;
}

.card img {
  width: 28%;
  margin: 0 0 40px 20px;
}

.card p {
  font-size: 14px;
  font-family: var(--font-secondary);
}

.section-briefing h2 {
  font-variation-settings: "wdth" 100, "wght" 600;
  font-size: 35px;
  letter-spacing: 2px;
  margin: 0 0 10px;
  font-family: var(--font-secondary);
  font-style: italic;
}

.section-title {
  border: inset #000 2px;
  padding: 2px;
  margin: 0 0 5px;
}

.section-title h2 {
  font-family: var(--font-secondary);
  font-variation-settings: "wdth" 120, "wght" 600;
  font-size: 35px;
  letter-spacing: 2px;
  text-align: left;
  margin: 0 0 0 25px;
  font-style: italic;
}

.section-exhibition {
  background: var(--color-third);
  color: var(--color-secondary);
  padding: 10px 29px;
  margin: 0 0 5px;
  display: flex;
  flex-direction: column;
}

.exhibition {
  font-family: var(--font-main);
  font-size: 26px;
}

.lazer {
  font-variation-settings: "wdth" 100, "wght" 100;
}

.thin {
  font-variation-settings: "wdth" 100, "wght" 200;
}

.light {
  font-variation-settings: "wdth" 100, "wght" 300;
}

.regular {
  font-variation-settings: "wdth" 100, "wght" 400;
}

.medium {
  font-variation-settings: "wdth" 100, "wght" 500;
}

.bold {
  font-variation-settings: "wdth" 100, "wght" 600;
}

.black {
  font-variation-settings: "wdth" 100, "wght" 700;
}

.x-compressed {
  font-variation-settings: "wdth" 10, "wght" 400;
}

.compressed {
  font-variation-settings: "wdth" 50, "wght" 400;
}

.condensed {
  font-variation-settings: "wdth" 80, "wght" 400;
}

.extended {
  font-variation-settings: "wdth" 150, "wght" 400;
} 

.expanded {
  font-variation-settings: "wdth" 180, "wght" 400;
}

.x-expanded {
  font-variation-settings: "wdth" 200, "wght" 400;
}

.italic-setting {
  border: none;
  font-variation-settings: "wdth" 120, "wght" 600, "ital" 1;
  letter-spacing: 5px;
  font-size: 15px;
  font-family: var(--font-main);
  background: var(--color-main);
  color: var(--color-third);
  text-align: center;
  margin: 10px 0 0;
  padding: 5px 20px;
}

.italic-setting:hover {
  background: var(--color-secondary);
  cursor: pointer;
}

.italic-active {
  font-style: italic;
}

.italic-toggle-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.typetester-container {
  background: var(--color-secondary);
  border: inset var(--color-third) 2px;
}

.editable-space input {
  font-family: var(--font-main);
  font-variation-settings: "wdth" 200, "wght" 800, "ital" 1;
  padding: 15px;
  border: none;
  width: 331px;
  appearance: none;
  outline: none;
}

::placeholder {
  color: var(--color-main);
}

.variable-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.variable-settings-item-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 361px;
  align-items: center;
}

.variable-settings-item-row:active,
.variable-settings-item-row:hover,
.variable-settings-item-row::selection {
  color: var(--color-secondary);
  background-color: var(--color-third);
}

.variable-setting-item {
  background: none;
  border: none;
  padding: 1px 20px;
  font-family: var(--font-main);
  font-variation-settings: "wdth" 50, "wght" 300;
  font-size: 28px;
  margin: 0 10px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 189px;
  margin: 15px 10px;
  justify-items: flex-end;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background: var(--color-third);
  cursor: pointer;
  margin-top: -10px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--color-secondary);
  border: 2px solid var(--color-third);
}

input[type=range]::-webkit-progress-bar {
  background: var(--color-third);
}

hr {
  border: var(--color-third) inset 1px;
}

/* for the footer */

footer {
  background: var(--color-secondary);
  padding: 5px;
}

.logo-container {
  padding: 10px 40px;
  border: var(--color-third) inset 2px;
}

.logo-container img {
  max-width: 80%;
  margin: auto;
  display: block;
}

.link-contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.link-contact {
  font-family: var(--font-secondary);
  color: var(--color-third);
  background: var(--color-secondary);
  border: inset var(--color-third) 2px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin: 5px 0;
  width: 157px;
}

.link-contact:hover,
.link-contact:active {
  background: var(--color-third);
  color: var(--color-secondary);
  transition: 0.3s;
}

.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: var(--font-secondary);
  font-size: 10px;
  width: 300px;
  margin: auto;
}

.copyright img {
  width: 100px;
}

/* for the menu */

.menu-slider {
  animation-name: defiling-slider;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0, 0.27, 0.98);
  background: var(--color-main);
  display: none;
}

.open {
  display: block;
}

@keyframes defiling-slider {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.menu-slider nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-slider nav a {
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--color-third);
  text-transform: uppercase;
  padding: 30px 10px;
  font-size: 40px;
  text-align: right;
}

.menu-slider nav a:hover,
.menu-slider nav a:active {
  font-variation-settings: "wdth" 100, "wght" 800, "ital" 1;
  transition: all 2s;
}

.menu-slider nav hr {
  width: 300px;
  margin: auto;
}

/* for the bottom bar */

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background: var(--color-main);
  bottom: 0;
  box-shadow: 0 -2px black;
  height: 50px;
}

.bottom-bar .bar-action {
  font-family: var(--font-secondary);
  font-size: 30px;
  letter-spacing: 20px;
  margin: 0 0 0 25px;
  height: 50px;
  line-height: 48px;
  color: var(--color-third);
  text-decoration: none;
}

.bottom-bar a svg{
  background: var(--color-secondary);
  padding: 0 10px;
  height: 50px;
}

.bottom-bar a {
  height: 50px;
}