@font-face {
  font-family: mash;
  src: url(../fonts/Mash-VariableVF.woff);
  src: url(../fonts/Mash-VariableVF.woff2);
}

@font-face {
  font-family: anson;
  src: url(../fonts/anson-regular-webfont.woff);
}

body {
  margin: auto;
}

.title-web {
  display: flex;
  background-color: #BBBAE4;
  box-shadow: 1px 20px 30px black;
  padding: 5px 0 0 0;
}

.picture-flower {
  width: 20px;
  animation: flower 4s linear infinite;

}

.picture-name {
  padding: 0 0 0 250px;
}

@keyframes flower {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.picture-name {
  width: 100px;
}

header h1 { 
  font-family: mash;
  font-size: 90px;
  font-weight: 555px;
  text-align: center;
  margin: 0;
  color: #3739D6;
  padding: 43px 23px 56px 23px;
  background-image: url(../img/header-fleur.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}

.variable h2 {
  font-family: mash;
  font-size: 47px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 0 0 70px 0;
  padding-top: 84px;
}

.variable {
  background-image: url(../img/nuage.jpg);
  height: 210px;
}

.variable h2 {
  font-weight: 100;
  font-variation-settings: 'wght' 50, 'wdth' 80;
  animation: variable 2s infinite forwards;
}

@keyframes variable {
  20%{
    font-variation-settings: 'wght' 90, 'wdth' 700;
  }
  60% {
    font-variation-settings: 'wght' 700, 'wdth' 100;
  }
  100% {
    font-variation-settings: 'wght' 100, 'wdth' 10;
  }
}

.presentation-font {
  font-family: anson;
  font-size: 15px;
  color: black;
  padding: 23px;
  background-color: #BBBAE4;
  margin: 0;
}

h3 {
  font-family: anson;
  font-size: 15px;
  color: black;
  text-align: center;
  background-color: #BBBAE4;
  padding: 28px 0 15px 0 ;
  margin: 0%;
}

.defiling {
  background-color: #AEB1DB;
}

.defiling-1 {
  font-family: mash;
  font-weight: 800;
  font-size: 60px;
  margin: 0;
  color: #7375D3;
  animation: defilement 5s linear infinite;
  animation-name: defilement-1;
  white-space: nowrap;
  animation-direction: alternate;
  letter-spacing: 1px;
}

@keyframes defilement-1 {
  from { transform: translateX(-200%);}
  to { transform: translateX(0%);}
}

.defiling-2 {
  font-family: mash;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  color: #8888EA;
  animation: defilement 5s linear infinite;
  animation-name: defilement-2;
  white-space: nowrap;
  letter-spacing: 1px;
  animation-direction: alternate;
}

@keyframes defilement-2 {
  from { transform: translateX(0%);}
  to { transform: translateX(-200%);}
}

.defiling-3 {
  font-family: mash;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  color: #8888EA;
  animation: defilement 5s linear infinite;
  animation-name: defilement-3;
  white-space: nowrap;
  letter-spacing: 1px;
  animation-direction: alternate;
}

@keyframes defilement-3 {
  from { transform: translateX(-100%);}
  to { transform: translateX(0%);}
}
