
body {
  color: #000000;
  width: 100%;
  scroll-behavior: smooth;
  padding: 10px 0 10px 0 ;
  background-color: #B5C6E5;
  margin: 0px;
}


h1{
  font-family: sans-serif;
  text-align: center;
}

marquee {
  margin: 0 0 0 0;
  animation: marquee 32s linear infinite;
}




div {
  display: flex;
  position: relative;
  animation: mymove 5s infinite;
  flex-direction: row;
  padding: 0;
}

@keyframes mymove {
  from {left: -10%;}
  50% {left: 100%;}
  to {right: 200%;}

  from {right: -200%;}
  50% {left: -100%;}
  to {left: -100%;}
}

