@font-face {
    font-family: 'Plaster';
    src: url('Plaster-Regular.woff2') format('woff2'),
        url('Plaster-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

