@font-face {
    font-family: 'Essence Sans';
    src: url('EssenceSansItalic.woff2') format('woff2'),
        url('EssenceSansItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Essence Sans';
    src: url('EssenceSansBold.woff2') format('woff2'),
        url('EssenceSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Essence Sans';
    src: url('EssenceSans.woff2') format('woff2'),
        url('EssenceSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Essence Sans';
    src: url('EssenceSansBoldItalic.woff2') format('woff2'),
        url('EssenceSansBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Essence Sans';
    src: url('EssenceSansLight.woff2') format('woff2'),
        url('EssenceSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Essence Sans';
    src: url('EssenceSansLightItalic.woff2') format('woff2'),
        url('EssenceSansLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

