@font-face {
    font-family: 'AppearsDEMO-Regular';
    src: url('AppearsDEMO-Regular.woff2') format('woff2'),
        url('AppearsDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

