@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-ExtraBold.woff2') format('woff2'),
        url('BigShouldersDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Black.woff2') format('woff2'),
        url('BigShouldersDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Bold.woff2') format('woff2'),
        url('BigShouldersDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-ExtraLight.woff2') format('woff2'),
        url('BigShouldersDisplay-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Light.woff2') format('woff2'),
        url('BigShouldersDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Medium.woff2') format('woff2'),
        url('BigShouldersDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-SemiBold.woff2') format('woff2'),
        url('BigShouldersDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Thin.woff2') format('woff2'),
        url('BigShouldersDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Regular.woff2') format('woff2'),
        url('BigShouldersDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

