@font-face {
    font-family: 'Milkman';
    src: url('MilkmanLight.woff2') format('woff2'),
        url('MilkmanLight.woff') format('woff'),
        url('MilkmanLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milkman';
    src: url('MilkmanBold.woff2') format('woff2'),
        url('MilkmanBold.woff') format('woff'),
        url('MilkmanBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milkman';
    src: url('MilkmanRegular.woff2') format('woff2'),
        url('MilkmanRegular.woff') format('woff'),
        url('MilkmanRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

