@font-face {
    font-family: 'Apollo MT Std';
    src: url('ApolloMTStd-Italic.woff2') format('woff2'),
        url('ApolloMTStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apollo MT Std';
    src: url('ApolloMTStd.woff2') format('woff2'),
        url('ApolloMTStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apollo MT Std';
    src: url('ApolloMTStd-SemiBold.woff2') format('woff2'),
        url('ApolloMTStd-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

