@font-face {
    font-family: '';
    src: url('SMGothicStd-Bold-Alphabetic.woff2') format('woff2'),
        url('SMGothicStd-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('SMGothicStd-Medium-Alphabetic.woff2') format('woff2'),
        url('SMGothicStd-Medium-Alphabetic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('SMGothicStd-Light-Alphabetic.woff2') format('woff2'),
        url('SMGothicStd-Light-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('SMGothicStd-DemiBold-Alphabetic.woff2') format('woff2'),
        url('SMGothicStd-DemiBold-Alphabetic.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

